# dependencies
node_modules

# build output
dist

# secrets
.env
.env.local

# git metadata
.git
.gitignore
 
# docker metadata
Dockerfile
.dockerignore

# documentation
README.md
.idea

# misc
bun.lockb